<div class="nav-anchor"></div>
<div class="hero-banner">
    <div class="container">
        <div class="slider-wrapper theme-default">
            <div class="slider apollo_slides nivoSlider">
                <a href="#"><img src="/frontend_res/assets/uploads/slider.jpg"/></a>
                <a href="#"><img src="/frontend_res/assets/uploads/slider2.png"/></a>
            </div>
        </div>
    </div>
</div>