@media (max-width: 1024px) {
    .table {
        min-width: 1024px;
    }
}
@media (max-width: 767px) {
    #data-table_wrapper label {
        float: left;
        margin-right: 10px;
    }

    #dataTables_filter label {
        margin-right: 0px;
    }
    .table {
        min-width: 800px;
    }
}
.box-header, .box-body {
    padding-left: 20px;
    padding-right: 20px;
}

.table>thead:first-child>tr:first-child>th {
    text-align: center;
    vertical-align: middle;
}

.dataTables_scroll {
    margin-bottom: 10px;
}

div.dataTables_scrollBody table tbody tr .stt__customer{
    text-align: center;
    vertical-align: middle;
}

button.actived, button.payed, button.waiting-active, button.trial {
    margin: auto;
    padding: 0px;
    font-size: 15px;
    height: 35px;
    width: 180px;
}

.pointer{
    cursor: pointer;
}

.action i{
    font-size: 17px;
}

.action {
    vertical-align: middle !important;
}

.list-contract td a{
    color: #000;
}

.dataTables_length {
    display: inline-block;
    margin-right: 15px;
}

#data_filter {
    display: inline-block;
}

#data_filter .form-group {
    margin-bottom: 0;
}

#data_filter label {
    line-height: 35px;
    margin-right: 10px;
}

.link_agency textarea{
    width: 100%;
    max-height: 73px;
    min-height: 73px;
    border: 1px solid #d2d6de;
    background: #ecf0f5;
}

#addBizsale{
    padding: 0 20px;
}

.login-box{
    margin: 0px auto;
}

.wrapper{
    position: inherit;
}
.login-page .container{
    min-height: 915px;
}
.login-page .card-container{
    width: 400px;
    margin: 15% auto;
    background: #fff;
    height: auto;
    padding: 20px;
}
.image-user{
    text-align: center;
    margin-bottom: 20px;
}
.image-user img{
    border-radius: 100%;
    height: 122px;
}
.login-page .form-login .form-group input{
    height: 40px;
    border-radius: 5px;
}
.account_login__social .title {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaaaaa;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.account_login__social .title::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 1px;
    width: 100%;
    border-top: 1px solid #e6eaf1;
}
.open {
    max-height: 300px !important;
}
/*.account_login__social .btn {*/
    /*display: block;*/
    /*width: 100%;*/
    /*padding: 10px 20px;*/
    /*padding-left: 20px;*/
    /*text-align: center;*/
    /*color: white;*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
    /*padding-left: 60px;*/
/*}*/