/*
 * Skin: Blue
 * ----------
 */
.skin-bizsale .main-header .navbar {
    background-color: #017d7d;
}
.skin-bizsale .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.skin-bizsale .main-header .navbar .nav > li > a:hover,
.skin-bizsale .main-header .navbar .nav > li > a:active,
.skin-bizsale .main-header .navbar .nav > li > a:focus,
.skin-bizsale .main-header .navbar .nav .open > a,
.skin-bizsale .main-header .navbar .nav .open > a:hover,
.skin-bizsale .main-header .navbar .nav .open > a:focus,
.skin-bizsale .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-bizsale .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-bizsale .main-header .navbar .sidebar-toggle:hover {
    color: white;
    background: rgba(0, 0, 0, 0.1);
}
.skin-bizsale .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-bizsale .main-header .navbar .sidebar-toggle:hover {
    background-color: #0c7370eb;
}
@media (max-width: 767px) {
    .skin-bizsale .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-bizsale .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-bizsale .main-header .navbar .dropdown-menu li a:hover {
        background: #367fa9;
    }
}
.skin-bizsale .main-header .logo {
    background-color: #00918d;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-bizsale .main-header .logo:hover {
    background-color: #0c7370eb;
}
.skin-bizsale .main-header li.user-header {
    background-color: #3c8dbc;
}
.skin-bizsale .content-header {
    background: transparent;
}
.skin-bizsale .wrapper,
.skin-bizsale .main-sidebar,
.skin-bizsale .left-side {
    background-color: #222d32;
}
.skin-bizsale .user-panel > .info,
.skin-bizsale .user-panel > .info > a {
    color: #fff;
}
.skin-bizsale .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}
.skin-bizsale .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-bizsale .sidebar-menu > li:hover > a,
.skin-bizsale .sidebar-menu > li.active > a,
.skin-bizsale .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #1e282c;
}
.skin-bizsale .sidebar-menu > li.active > a {
    border-left-color: #3c8dbc;
}
.skin-bizsale .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.skin-bizsale .sidebar a {
    color: #b8c7ce;
}
.skin-bizsale .sidebar a:hover {
    text-decoration: none;
}
.skin-bizsale .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
}
.skin-bizsale .sidebar-menu .treeview-menu > li.active > a,
.skin-bizsale .sidebar-menu .treeview-menu > li > a:hover {
    color: #ffffff;
}
.skin-bizsale .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-bizsale .sidebar-form input[type="text"],
.skin-bizsale .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.skin-bizsale .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-bizsale .sidebar-form input[type="text"]:focus,
.skin-bizsale .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-bizsale .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-bizsale .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.skin-bizsale.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-bizsale.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
}

.btn-primary {
    background-color: #00918d;
    border-color: #00918d;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #017d7d;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #017d7d;
    border-color: #017d7d;
}


.form-control.error, .form-control.error:focus, .form-control.error .btn {
    border-color: #dd4b39 !important;
}
.error {
    color: #dd4b39 !important;
}

.account_login__social .title span {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    position: relative;
}